<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lita de Produtos</title>
     <!-- CHAMANDO BOOTSTRAP -->
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <style>
        .table {
            text-align: center;
        }
        h1 {
            text-align: center;
            color: rgb(29, 29, 136);
            background-color: rgb(189, 172, 172);
        }
     </style>
</head>
<body>
    <div class="container">
        <h1>Lista de produtos</h1>
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Nome</th>
                    <th>Quantidade  nº </th>
                    <th>Valor - R$ </th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% prod.forEach (product => { %>
                    <tr class="table">
                        <td><%= product.nome %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.price %></td>
                        <td>
                            <button href="/edit_product/<%= product.id %>" class="btn btn-warning btn-sm">Editar</button>
                            <button href="/delete_product/<%= product.id %>" class="btn btn-danger btn-sm">Excluir</button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

    </div>
</body>
</html>